@use 'variables' as *;
@use 'mixins' as m;


.heart-icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  transition: fill .3s ease-in-out, transform .3s ease-in-out;
}
.filled {
  fill: red;
  transform: scale(1.1);
}
.view-planet {
  height: 100dvh;
  display: grid;
  place-content: center;

  &__container {
    height: 64rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  &__wrap-img {
    align-self: center;
  }
  &__data {
    padding: 2rem;
    color: $color-white;
    backdrop-filter: blur(.2rem);
    text-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .8);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  :is(&__btn-favorites, &__btn-back)  {
    @include m.custom-button($color-white, $color-black);
  }
  &__btn-favorites {
    width: 20.9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__name {
    font-size: 5rem;
  }
  &__info {
    font-size: 2rem;
    background: rgba(0, 0, 0, .5);
    border-radius: 1rem;
    padding: 1.5rem;
  }
  &__title {
    color: $color-yellow;
  }
  &__actions {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}
