@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-image: url('/images/galaxy.jpg');
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  max-width: 140rem;
  margin: auto;
  width: 90%;
}
