@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-image: url('/images/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
img {
  display: block;
  max-width: 100%;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 140rem;
  margin: auto;
  width: 90%;

  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
