<div class="planets">
  <main class="container">
    <header class="planets__header">
      <app-order-by
        [disabled]="planets().length === 0"
        [sortBy]="sortBy()"
        [order]="order()"
        (sortByChange)="handleSortBy($event)"
        (orderChange)="handleOrder($event)"
      />
      <app-search-input [searchTerm]="query()" (searchTermChange)="handleSearchTerm($event)" />
    </header>

    <div class="planets__list" [@cardsIn]="planets()">
      <swiper-container init="false">
        @if (isLoadingResults()) {
          <div class="loader">
            <app-loader />
          </div>
        } @else {
          @for (planet of planets(); track planet.id) {
            <swiper-slide>
              <app-planet-item [planet]="planet" />
            </swiper-slide>
          } @empty {
            <div class="no-data">
              <img src="/images/no-data.svg" alt="sin datos" />
            </div>
          }
        }
      </swiper-container>
    </div>
    <div class="planets__actions">
      <button (click)="handlePrevButton()" [disabled]="isPrevDisabled()">Anterior</button>
      <button (click)="handleResetFilters()">Restablecer</button>
      <button (click)="handleNextButton()" [disabled]="isNextDisabled()">Siguiente</button>
    </div>
  </main>
</div>
