@use 'variables' as *;
@use 'mixins' as m;

.loader {
  height: 38.5rem;
  width: 100%;
  display: grid;
  place-items: center;
}
.no-data {
  width: 100%;

  & > img {
    height: 38.5rem;
    margin: 0 auto;
  }
}
.planets {
  &__list {
    padding: 2rem 0;
  }
  &__filters {
    height: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
  }
  &__actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    & > button {
      @include m.custom-button($color-white, $color-black);
    }
  }
}
