<div class="planets">
  <main class="planets__container">
    <header class="planets__filters">
      <div></div>
      <app-search-input (searchTermChange)="handleSearchTerm($event)" />
    </header>

    <div class="planets__list">
      <swiper-container #swiper slides-per-view="5" space-between="20">
        @if (isLoadingResults()) {
          <div class="loader">
            <app-loader />
          </div>
        } @else {
          @for (planet of planets(); track planet.id) {
            <swiper-slide>
              <app-planet-item [planet]="planet" />
            </swiper-slide>
          } @empty {
            <div class="no-data">
              <img src="/images/no-data.svg" alt="sin datos" />
            </div>
          }
        }
      </swiper-container>
    </div>
    <div class="planets__actions">
      <button (click)="handlePrevButton()" [disabled]="isPrevDisabled()">Anterior</button>
      <button (click)="handleNextButton()" [disabled]="isNextDisabled()">Siguiente</button>
    </div>
  </main>
</div>
